.containerHeader{
    background-color: #4e7cdf;
    color: white;
    padding-top: 1rem;
    line-height: 5rem;
    padding-left: 37rem;
    position: relative;
    height: 100%;
}

.containerHeader img {
    position: absolute;
    bottom: 0;
    right: 0;
}