<div class="containerContent">
    <article>
        <h2>Un Poco Sobre mi</h2><br>
        <p>
            Tecnologo en Electronica con conocimientos en Desarrollado en Java, Golang, Html, CSS, JavaScript y Bases de datos (SQL) despliegue de software Api Rest, aplicaciones web, testing, documentacion, seguridad Informatica JWT, trabajo en equipos de desarrollo y Mantenimiento, Excelente servicio al cliente con varios años de experiencia con la capacidad para la comunicación, trabajo en equipo, trabajo bajo presión y practico comportamiento laboral orientado al cumplimiento de metas y en búsqueda de nuevos retos. <br><br> Fácil desenvolvimiento en diversas áreas de trabajo lo cual ha permitido un desarrollo de aptitudes que facilitan la materialización de mis funciones y actitudes que permiten ser un elemento integral dentro de los equipos de cualquier equipo de trabajo.
        </p><br><br>
    </article>

<!-- Education -->
    <article>
        <h2>Educacion</h2><br>
            <h3>Microsoft Feb 2021</h3>
            <p>Fundamentos de Desarrollo de Software </p><br><br>
            
            <h3>Aula Matriz Feb 2021</h3>
            <p>Lógica y Programación Php-Mysql–  Java SE 11 <br>
                Developing Applications for the Java EE 7</p><br><br>
        
            <h3>Universidad Central Dic 2017 postpone</h3>
            <p>Ingieneria en Electronica</p><br>
        
            <h3>InterAmericans Languages Real Word Jun 2013</h3>
            <p>English B2</p><br><br>
        
            <h3>Corporacion Universitaria Minuto de Dios Jun 2014 </h3>
            <p>Tecnologo en Electronica</p><br><br>
        
            <h3>JUAN BOSCO OBRERO 2009</h3>
            <p>Tecnico en mantenimiento Hardware y Software.</p><br><br>

            <h3>JUAN BOSCO OBRERO 2009</h3>
            <p>Tecnico en fundamentos de Electroica. </p><br><br>

            <h3>JUAN BOSCO OBRERO 2010</h3>
            <p>Tecnico en Sistemas y mantenimiento de computadores. </p><br><br>

            <h3>JUAN BOSCO OBRERO 2010</h3>
            <p>Tecnico en Sistemas y Administracion de redes. </p><br><br>

            <h3>JUAN BOSCO OBRERO 2010</h3>
            <p>Tecnico en mantenimiento Electronico Industrial.</p><br><br>
    </article>

<!-- Work Experience -->
    <article>
        <h2>Experiencia Laboral</h2><br>

            <h3>Tecnofactory (Aug 2021 - Currently) 
            <br>Desarrollador Web<br></h3>
            <p>
                Desarrollo FrontEnd y BackEnd de contenidos en HTML, CSS y JavaScript empleando como framework Angular, Desarrollo en Bases de Datos SqlServer y PostgreSQL en diversos proyectos, desarrollo de Apis en Java y Golang 
            </p><br><br>

            <h3>Impuls@ LTDA (May 2020 - Abr 2021) 
            <br>Desarrollo Web<br></h3>
            <p>
                FrontEnd and BackEnd development of web content in HTML, CSS and JavaScript using Angular, development of the DataBase in MySql and PostgreSQL of products and services of the client and registered users, development of the API deployed in JAVA, content update
            </p><br><br>

            <h3>Papeles Nacionales (Sep 2020 - Dic 2020) </h3>
            <p>Instalacion de Repuestos</p><br><br>
            
            <h3>Organizaciones de Eventos Musicales (feb 2020 - Mar 2020) <br>Soporte de Aplicaciones Java</h3>
            <p>Mantenimiento de Aplicaciones Java, Actualizacion de Contenidos Web y mantenimiento de la Base de Datos MySql, SqlServer </p><br><br>
        
            <h3>Scala Ascensores (Sep 2018- Oct 2019) <br>Técnico Preventivo y correctivo.</h3>
            <p>
                Mantenimiento en equipos; preventivo y correctivo ascensores hidráulicos y de tracción, montaplatos, elevadores de sillas de ruedas, plataformas, reparación, solución de problemas, lectura de planos eléctricos, paneles de controles, capaz de trabajar de manera segura en alturas, ajuste de mecanismos y configuración de parámetros.
            </p><br><br>
        
            <h3>Thomas Greg & Sons (Abr 2018– Jul 2018) <br>Mesa de Ayuda</h3>
            <p>
                Soporte técnico en el proceso electoral presidencial 2018 a nivel nacional, ajuste de dispositivos de software y hardware asegurar todos los requerimientos sean resueltos, experiencia en herramientas de soporte de software, trabajo bajo presión. Responsable de planificar e implementar eficazmente todo el mantenimiento, reparación, instalación y configuración de impresoras en red y actividades de mantenimiento para todo el equipo del departamento de imprenta.
            </p><br><br>
        
            <h3>Quimitronica LTDA(Abr 2014 –Jun 2017) <br>Ingeniero de Servicio II.</h3>
            <p>
                Mantenimiento preventivo y correctivo en quipos de laboratorio, aseguramiento metrológico, calificaciones operaciones en temperatura, presión, colorimetría, espectrofotometría.
            </p><br><br>
        
            <h3>Schindler Andino (Agos 2010 – Jun 2014) <br>Técnico preventivo y correctivo</h3>
            <p>
                Mantenimiento en equipos; preventivo y correctivo ascensores hidráulicos y de tracción, montaplatos, elevadores de sillas de ruedas, plataformas, reparación, solución de problemas, lectura de planos eléctricos, paneles de controles, capaz de trabajar de manera segura en alturas, ajuste de mecanismos y configuración de parámetros. 
            </p><br><br>
    </article>
</div>