<div class="containerAside">
    <picture>
        <!-- <source media="(min:1300px)" srcset="ImageLarge">
        <source media="(min:100px)" srcset="ImageMedium"> -->
        <img src="./assets/fotoL.jpg" alt="Juan Tafur" title="Juan Tafur">
        <!-- <figcaption>Juan Tafur</figcaption> -->
    </picture>
    <article>
        <h2>Contacto</h2>
        <p>
            Nombre: Juan Guillermo Tafur <br>		
            Telefono: 3158191204 <br>
            Correo: juantafur.25@gmail.com <br>
            www.linkedin.com/in/juantafur <br>
            https://github.com/jugutafur <br>
            Profesion: Desarrollador Web<br>
            Tecnologo en Electronica <br> 
            </p><br>
    </article>
    <article class="skills">
        <h2>Habilidades</h2>
        <p>
            Trabajo en equipo <span class="bar"><span class="teamwork"></span></span><br>
            Creatividad <span class="bar"><span class="Creativity"></span></span><br>
            Inovación <span class="bar"><span class="Innovation"></span></span><br>
            Comunicación <span class="bar"><span class="Communication"></span></span><br>
            Presetacion <span class="bar"><span class="Presetation"></span></span><br>
            Motivation <span class="bar"><span class="Motivation"></span></span><br>
        </p><br>
    </article>
    <article>
        <h2>Software</h2>
        <p>
            Visual Studio Code <span class="bar"><span class="VsC"></span></span><br>
            Github <span class="bar"><span class="Github"></span></span><br>
            Netbeans<span class="bar"><span class="Netbeans"></span></span><br>
            Eclipse<span class="bar"><span class="Eclipse"></span></span><br>
        </p><br>
    </article>
    <article>
        <h2>Conocimientos</h2>
        <div class="container2">        
            <div class="HTML5"></div>
            <!-- <div class="HTML5"><div class="circular-progress"></div></div> -->
            <div class="HTML5"><div class="circular-progress"></div></div>
            <div class="CSS3"><div class="circular-progress"></div></div>
            <div class="JavaScript"><div class="circular-progress"></div></div><br>
            <div class="Java"><div class="circular-progress"></div></div><br>
            <div class="Php"><div class="circular-progress"></div></div><br>
            <div class="Sql"><div class="circular-progress"></div></div><br>
            <div class="Scrum"><div class="circular-progress"></div></div><br>
            <div class="ResponsiveWebDesign"><div class="circular-progress"></div></div><br>
        </div>
    </article>
    <article>
        <h2>Idiomas</h2>
        <p>
            Spanish: Native<br>
            English: B2 <br>
        </p><br>
    </article>    
</div>