/* You can add global styles to this file, and also import other style files */
* {
    // font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$fonth1: 3.2rem;
$fonth2: 2.8rem;
$fonth3: 1.8rem;
$fontpf: 1.6rem;


h1 {
  font-size: $fonth1;
}

h2 {
  font-size: $fonth2;
}

h3 {
  font-size: $fonth3;
}

article p {
  font-size: $fontpf;
}

footer p {
  font-size: $fontpf;
}

p {
  font-size: $fontpf;
}

html {
    font-size: 62.5%;
    background: #ececec;
  }

.container {
    width: 80%;
    margin: 2rem auto;
    display: grid;
    border: 1px solid black;
    background: white;
    grid-template-columns: minmax(2rem, 3rem) minmax(14px, 30rem) minmax(140px, 1fr);
    grid-template-rows: minmax(15rem, auto) minmax(10rem, auto) minmax(3rem, 0.5rem) minmax(2rem, 0.5rem);
}

.containerHeader{
    // width: 100%;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
}

.containerHeader h1, h2{
  // margin-left: -34rem;
}

.containerAside {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    z-index: 1;
}

.containerContent {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.footer{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: 5;

    background-color: #4e7cdf;
    color: white;
    padding-left: 1rem;
}


@media screen and (max-width: 700px) {
.container {
    width: 80%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: minmax(2rem, 3rem) minmax(14px, 30rem) minmax(140px, 1fr);
    grid-template-rows: minmax(15rem, auto) minmax(10rem, auto) minmax(3rem, auto) minmax(2rem, 0.5rem);
}

.containerHeader {
    // display: none;
    grid-column: 1/-1;
    grid-row: 1/2;
    margin-left: -18rem;
}

.containerAside {
    grid-column: 1/-1;
    grid-row: 2/3;
}

.containerContent{
    margin-left: -2rem;
    margin-right: 1rem;
    grid-column: 1/-1;
    grid-row: 3/4;
    padding-left: 1rem;
}

.footer {
    grid-column: 1/-1;
    grid-row: 4/5;
    background-color: #4e7cdf;
    color: white;
    padding-left: 1rem;
    }
}
